[package]
name = "listing-01-alien"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
surreal-orm = { workspace = true }
# surreal-orm = { path = "../../../surreal-orm" }
serde = { workspace = true }
