# Ignore artifacts:
build
coverage
node_modules
generatedCrdsTs
generatedManifests
k3d.yaml
resources/types/helm-charts
# TODO: Temporarily disable checking this file till https://github.com/typescript-eslint/typescript-eslint/pull/5716 is merged
scripts/utils/plainSecretsManager.ts 
src/shared/helmChartInfo.ts